In [4]:
def reverse(s):
    str = ""
    for i in s:
        str = i + str
    return str

In [5]:
s=input("Enter the name")
print(s)

Enter the namemayur
mayur

In [1]:
s=input("Enter the name")
print(s)

Enter the namemajor mayur kolki
major mayur kolki

In [2]:
s[::-1]

'iklok ruyam rojam'

In [6]:

  
print ("The original string  is : ",end="")
print (s)
  
print ("The reversed string(using loops) is : ",end="")
print (reverse(s))

The original string  is : mayur
The reversed string(using loops) is : ruyam

In [1]:
name1 = "mayur"

In [3]:
 name1[::-1]

'ruyam'

In [12]:
def rf(name):
    return(name[::-1])

In [14]:
rf('kolki')

'iklok'

In [ ]:
def reversestring(text):
    return(text[::-1])

In [ ]:
reversestring('danish')

In [ ]:
1) We can us e Slice Method for this .
Start with the lenght of the string and ends at index 0.
Start at string lenght , end at position 0 , move with steep -1 ( one step backword)

In [ ]:
2) method join ...
This is a powerful technique that takes advantages of python iterator protocol . this technique reverse the string using reverse() built-in fuction to cycle through the elements in the string in reverse order and then use .join() method to merge all of the characters resulting from the reversed iteration into new string.

In [15]:
def reverse_1(text):
    return(''.join(reversed(text)))

reverse_1('my name is mayur')

'ruyam si eman ym'

In [13]:
s='mayur'

In [14]:
r="".join(reversed(s))
print(r)

ruyam

In [17]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [16]:
mylist = ["mayur","Vinay ","kolki"]
for x in mylist:
    print(x)
    
print("\n")   

lr= ["manju",'vinay','kolki']
for i in lr:
    print(i)

mayur
Vinay
kolki


manju
vinay
kolki

In [12]:
mylist

['mayur', 'Vinay ', 'kolki']

In [15]:
mylist[:-1]

['mayur', 'Vinay ']

In [5]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
     print(thislist[i])

apple
banana
cherry

In [19]:
range(len(thislist))

range(0, 3)

In [6]:
range(len(thislist))

range(0, 3)

In [24]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

In [28]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [31]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "an" in x:
        newlist.append(x)

print(newlist)

['banana', 'mango']

In [32]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [33]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [22]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort()

print(thislist)

print("\n")

mk = ['z','e','a','q','y','o']
mk.sort()
print(mk)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']


['a', 'e', 'o', 'q', 'y', 'z']

In [25]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

print("\n")

nou = [9,34,5,6,2,4,0,1]
nou.sort(reverse = True)
print(nou)

[23, 50, 65, 82, 100]


[34, 9, 6, 5, 4, 2, 1, 0]

In [36]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [37]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [38]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [39]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [40]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [41]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

In [41]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)
print("\n")

nom = [9,5,7,2,4,6]
i=0
for i in nom:
    y = i+i
    print(y)

apple
banana
cherry


18
10
14
4
8
12

In [27]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
     print(thistuple[i])

print("\n")
        
mk = ['z','e','a','q','y','o']
for a in range(len(mk)):
    print(mk[a])

apple
banana
cherry


z
e
a
q
y
o

In [33]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1
    
print('\n')

mk = ['z','e','a','q','y','o']
a=0
while a< len(mk):
    print(mk[a])
    a=a+1

apple
banana
cherry


z
e
a
q
y
o

In [45]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [46]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [47]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [48]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

In [49]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
     print(x)

cherry
apple
banana

In [50]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [51]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'apple', 'banana', 'orange'}

In [52]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'apple', 'banana', 'mango', 'papaya', 'pineapple'}

In [53]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'apple', 'kiwi', 'orange', 'banana'}

In [54]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [55]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [56]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'apple', 'banana'}

In [57]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [58]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [59]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

cherry
apple
banana

In [60]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [61]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

In [62]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [63]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'google', 'banana', 'microsoft'}

In [64]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'banana', 'google', 'microsoft'}

In [65]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [66]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [67]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [68]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [70]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [72]:
x = thisdict.get("model")
print(x)

Mustang

In [73]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [74]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [75]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

In [76]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [77]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

In [78]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [79]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [80]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [81]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [82]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [83]:
for x in thisdict:
    print(x)

In [85]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
    print(x)

brand
model
year

In [86]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
    print(thisdict[x])

Ford
Mustang
1964

In [87]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
    print(x)

Ford
Mustang
1964

In [88]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.keys():
    print(x)

brand
model
year

In [89]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
    print(x, y)

brand Ford
model Mustang
year 1964

In [90]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [93]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [94]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [95]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(
car.get("model"))

Mustang

In [96]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [98]:
a = 33
b = 200
if b > a:
    print("b is greater than a") # you will get an error

b is greater than a

In [101]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

In [2]:
import random

In [3]:
rand.int(0,5)

NameError: name 'rand' is not defined

In [6]:
s= 91

if s/2 ==0 :
    print("it is even ")
else:
    print("it is odd")

it is odd

In [7]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 5
120

In [8]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
print(factorial(5))

120

In [49]:
nom = [2,2,2,2,4,6]
for i in nom:
    if i/2 ==1 :
        print("it is even ")
    else:
        print("it is odd")

it is even
it is even
it is even
it is even
it is odd
it is odd

In [2]:
for i in range(1,15):
    if i/2 ==1 :
        print("it is even ")
    else:
        print("it is odd")

it is odd
it is even
it is odd
it is odd
it is odd
it is odd
it is odd
it is odd
it is odd
it is odd
it is odd
it is odd
it is odd
it is odd

In [1]:
exp = [2200,2350,2600,2130,2190]

In [2]:
exp.append(1980)
print("Expenses at the end of June:",exp) # [2200, 2350, 2600, 2130, 2190, 1980]

Expenses at the end of June: [2200, 2350, 2600, 2130, 2190, 1980]

In [3]:
# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this
exp[3] = exp[3] - 200
print("Expenses after 200$ return in April:",exp) # [2200, 2350, 2600, 1930, 2190, 1980]

Expenses after 200$ return in April: [2200, 2350, 2600, 1930, 2190, 1980]

In [4]:
2130-200

1930

In [7]:
#Create a list of all odd numbers between 1 and a max number.
#Max number is something you need to take from a user using input() function

max = int(input("Enter max number: "))

odd_numbers = []

for i in range(max):
    if i%2 == 1:
        odd_numbers.append(i)

print("Odd numbers: ",odd_numbers)

Enter max number: 10
Odd numbers:  [1, 3, 5, 7, 9]

In [8]:
class Node:
    def __init__(self, data=None, next=None):
        self.data = data
        self.next = next

class LinkedList:
    def __init__(self):
        self.head = None

    def print(self):
        if self.head is None:
            print("Linked list is empty")
            return
        itr = self.head
        llstr = ''
        while itr:
            llstr += str(itr.data)+' --> ' if itr.next else str(itr.data)
            itr = itr.next
        print(llstr)

    def get_length(self):
        count = 0
        itr = self.head
        while itr:
            count+=1
            itr = itr.next

        return count

    def insert_at_begining(self, data):
        node = Node(data, self.head)
        self.head = node

    def insert_at_end(self, data):
        if self.head is None:
            self.head = Node(data, None)
            return

        itr = self.head

        while itr.next:
            itr = itr.next

        itr.next = Node(data, None)

    def insert_at(self, index, data):
        if index<0 or index>self.get_length():
            raise Exception("Invalid Index")

        if index==0:
            self.insert_at_begining(data)
            return

        count = 0
        itr = self.head
        while itr:
            if count == index - 1:
                node = Node(data, itr.next)
                itr.next = node
                break

            itr = itr.next
            count += 1

    def remove_at(self, index):
        if index<0 or index>=self.get_length():
            raise Exception("Invalid Index")

        if index==0:
            self.head = self.head.next
            return

        count = 0
        itr = self.head
        while itr:
            if count == index - 1:
                itr.next = itr.next.next
                break

            itr = itr.next
            count+=1

    def insert_values(self, data_list):
        self.head = None
        for data in data_list:
            self.insert_at_end(data)


if __name__ == '__main__':
    ll = LinkedList()
    ll.insert_values(["banana","mango","grapes","orange"])
    ll.insert_at(1,"blueberry")
    ll.remove_at(2)
    ll.print()

    ll.insert_values([45,7,12,567,99])
    ll.insert_at_end(67)
    ll.print()

banana --> blueberry --> grapes --> orange
45 --> 7 --> 12 --> 567 --> 99 --> 67

In [13]:
class Node:
    def __init__(self, data=None, next=None):
        self.data = data
        self.next = next

class LinkedList:
    def __init__(self):
        self.head = None
        
    def insert_at_begining(self, data):
        node = Node(data, self.head)
        self.head = node


    def print(self):
        if self.head is None:
            print("Linked list is empty")
            return
        itr = self.head
        llstr = ''
        while itr:
            llstr += str(itr.data)+' --> '  #if itr.next else str(itr.data)
            itr = itr.next
        print(llstr)

if __name__ == '__main__':
    
    ll = LinkedList()
    ll.insert_at_begining(5)
    ll.insert_at_begining(67)
    ll.print()

67 --> 5 -->

In [17]:
class Node:
    def __init__(self, data=None, next=None):
        self.data = data
        self.next = next

class LinkedList:
    def __init__(self):
        self.head = None

    def print(self):
        if self.head is None:
            print("Linked list is empty")
            return

        itr = self.head
        llstr = ''
        while itr:
            llstr += str(itr.data) + ' --> '
            itr = itr.next
        print(llstr)

    def get_length(self):
        count = 0
        itr = self.head
        while itr:
            count+=1
            itr = itr.next

        return count

    def insert_at_begining(self, data):
        node = Node(data, self.head)
        self.head = node

    def insert_at_end(self, data):
        if self.head is None:
            self.head = Node(data, None)
            return

        itr = self.head

        while itr.next:
            itr = itr.next

        itr.next = Node(data, None)

    def insert_at(self, index, data):
        if index<0 or index>self.get_length():
            raise Exception("Invalid Index")

        if index==0:
            self.insert_at_begining(data)
            return

        count = 0
        itr = self.head
        while itr:
            if count == index - 1:
                node = Node(data, itr.next)
                itr.next = node
                break

            itr = itr.next
            count += 1

    def remove_at(self, index):
        if index<0 or index>=self.get_length():
            raise Exception("Invalid Index")

        if index==0:
            self.head = self.head.next
            return

        count = 0
        itr = self.head
        while itr:
            if count == index - 1:
                itr.next = itr.next.next
                break

            itr = itr.next
            count+=1

    def insert_values(self, data_list):
        self.head = None
        for data in data_list:
            self.insert_at_end(data)


    def insert_after_value(self, data_after, data_to_insert):
        if self.head is None:
            return

        if self.head.data==data_after:
            self.head.next = Node(data_to_insert,self.head.next)
            return

        itr = self.head
        while itr:
            if itr.data == data_after:
                itr.next = Node(data_to_insert, itr.next)
                break

            itr = itr.next

    def remove_by_value(self, data):
        if self.head is None:
            return

        if self.head.data == data:
            self.head = self.head.next
            return

        itr = self.head
        while itr.next:
            if itr.next.data == data:
                itr.next = itr.next.next
                break
            itr = itr.next

if __name__ == '__main__':
    ll = LinkedList()
    ll.insert_values(["banana","mango","grapes","orange"])
    ll.print()
    ll.insert_after_value("mango","apple")
    ll.print()
    ll.remove_by_value("orange")
    ll.print()
    ll.remove_by_value("figs")
    ll.print()
    ll.remove_by_value("banana")
    ll.remove_by_value("mango")
    ll.remove_by_value("apple")
    ll.remove_by_value("grapes")
    ll.print()

     #ll.insert_values([45,7,12,567,99])
     #ll.insert_at_end(67)
     #ll.print()

banana --> mango --> grapes --> orange -->
banana --> mango --> apple --> grapes --> orange -->
banana --> mango --> apple --> grapes -->
banana --> mango --> apple --> grapes -->
Linked list is empty

In [18]:
class Node:
    def __init__(self, data=None, next=None, prev=None):
        self.data = data
        self.next = next
        self.prev = prev

class DoublyLinkedList:
    def __init__(self):
        self.head = None

    def print_forward(self):
        if self.head is None:
            print("Linked list is empty")
            return

        itr = self.head
        llstr = ''
        while itr:
            llstr += str(itr.data) + ' --> '
            itr = itr.next
        print(llstr)

    def print_backward(self):
        if self.head is None:
            print("Linked list is empty")
            return

        last_node = self.get_last_node()
        itr = last_node
        llstr = ''
        while itr:
            llstr += itr.data + '-->'
            itr = itr.prev
        print("Link list in reverse: ", llstr)

    def get_last_node(self):
        itr = self.head
        while itr.next:
            itr = itr.next

        return itr

    def get_length(self):
        count = 0
        itr = self.head
        while itr:
            count+=1
            itr = itr.next

        return count

    def insert_at_begining(self, data):
        if self.head == None:
            node = Node(data, self.head, None)
            self.head = node
        else:
            node = Node(data, self.head, None)
            self.head.prev = node
            self.head = node

    def insert_at_end(self, data):
        if self.head is None:
            self.head = Node(data, None, None)
            return

        itr = self.head

        while itr.next:
            itr = itr.next

        itr.next = Node(data, None, itr)

    def insert_at(self, index, data):
        if index<0 or index>self.get_length():
            raise Exception("Invalid Index")

        if index==0:
            self.insert_at_begining(data)
            return

        count = 0
        itr = self.head
        while itr:
            if count == index - 1:
                node = Node(data, itr.next, itr)
                if node.next:
                    node.next.prev = node
                itr.next = node
                break

            itr = itr.next
            count += 1

    def remove_at(self, index):
        if index<0 or index>=self.get_length():
            raise Exception("Invalid Index")

        if index==0:
            self.head = self.head.next
            self.head.prev = None
            return

        count = 0
        itr = self.head
        while itr:
            if count == index:
                itr.prev.next = itr.next
                if itr.next:
                    itr.next.prev = itr.prev
                break

            itr = itr.next
            count+=1

    def insert_values(self, data_list):
        self.head = None
        for data in data_list:
            self.insert_at_end(data)


if __name__ == '__main__':
    ll = DoublyLinkedList()
    ll.insert_values(["banana","mango","grapes","orange"])
    ll.print_forward()
    ll.print_backward()
    ll.insert_at_end("figs")
    ll.print_forward()
    ll.insert_at(0,"jackfruit")
    ll.print_forward()
    ll.insert_at(6,"dates")
    ll.print_forward()
    ll.insert_at(2,"kiwi")
    ll.print_forward()

banana --> mango --> grapes --> orange -->
Link list in reverse:  orange-->grapes-->mango-->banana-->
banana --> mango --> grapes --> orange --> figs -->
jackfruit --> banana --> mango --> grapes --> orange --> figs -->
jackfruit --> banana --> mango --> grapes --> orange --> figs --> dates -->
jackfruit --> banana --> kiwi --> mango --> grapes --> orange --> figs --> dates -->

In [4]:
'you are doing well' [2:999]

'u are doing well'

In [5]:
list1 = [2, 33, 222, 14, 25]
list1[-1]

25

In [7]:
a = 8.6
b = 2
print(a//b)

4.0

In [9]:
8.6//2

4.0

In [12]:
print('Recursive Function')
def factorial(n):
    return(n*factorial(n-1))factorial(4)

SyntaxError: invalid syntax (<ipython-input-12-d8a040e9b7a4>, line 3)

In [13]:
def nprint(message, n):
    while(n > 0):
        print(message)n-=1nprint('z', 5)

SyntaxError: invalid syntax (<ipython-input-13-6c8536a23d37>, line 3)

In [14]:
print('The sum of {0} and {1} is {2}'.format(2, 10, 12))

The sum of 2 and 10 is 12

In [15]:
import sys
name = sys.stdin.readline()
print("Hello "+ name)

Hello

In [1]:
def sum_list(lst):
    total_sum = 0
    for i in lst:
        total_sum = total_sum + i
    return total_sum

print(sum_list([1,2,3,4,5]))

15

# EVEN ODD

In [4]:
def even_check(lst):

    for i in lst:
        if i%2==0:
            print("the number is even",i)
        else:
            print("the number is odd",i)
            
print(even_check([1,2,3,4,5]))

the number is odd 1
the number is even 2
the number is odd 3
the number is even 4
the number is odd 5
None

In [9]:
def binary_search(a, x):
    start =0 
    end = len(a) -1 
    while start <= end:
        mid = (start + end)
        if a[mid] == x:
            return mid 
        elif a[mid] >x:
            end = mid - 1
        else:
            start = mid + 1
    return -1
a=[1,3,5,6,8,9,11,15,17,19,20,22,25,26,28,29,30]
print(binary_search(a,5))

2

In [ ]:
#binary sort
def binary_sort(array):

In [10]:
queue * q;

NameError: name 'queue' is not defined

In [11]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 5
120

In [12]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
print(factorial(5))

120

In [13]:
for i in range(1,15):
    if i/2 ==1 :
        print("it is even ")
    else:
        print("it is odd")

it is odd
it is even
it is odd
it is odd
it is odd
it is odd
it is odd
it is odd
it is odd
it is odd
it is odd
it is odd
it is odd
it is odd

In [1]:
3^4

7